:root {
  --color: #f3f3fa;
  --color-primary: #892cdc;
  --color-secondary: #fdf9f3;
  --color-light: #72528f;
  --bg: #301b3f;
  --bg-secondary: #151515;
  --border-color: #2a0d38;
}

.light-mode {
  --color: #151218;
  --color-primary: #24101f;
  --color-secondary: #fdf9f3;
  --color-light: #2d2336;
  --bg: #d3d3d3;
  --bg-secondary: #996cbe;
  --border-color: #ddd;
}
